@model IEnumerable<workFlowApp.tbl_entity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.entity_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.action_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.action_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entry_criteria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exit_criteria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entity_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.change_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_empoyee.emp_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Work_flow_tbl.work_flow_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.entity_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.action_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.action_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.entry_criteria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exit_criteria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.entity_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.change_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_empoyee.emp_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Work_flow_tbl.work_flow_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.entity_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.entity_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.entity_id })
        </td>
    </tr>
}

</table>
